.env
.idea
.pytest_cache
.ruff_cache
.venv

config.json
rankings/*.csv

lineups/ros-analysis.md
lineups/start-sit.md

rosters/*_owned_players.json
rosters/sleeper_master_players.json
rosters/yahoo_*.txt

**/__pycache__/*
.coverage
